# SAM Template (for future reference)
# This would replace your CloudFormation template if you want to use SAM
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: 'EC2 Launch Monitor - SAM Version'

Resources:
  EC2LaunchMonitorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: ec2-launch-monitor
      CodeUri: lambda/
      Handler: index.handler
      Runtime: python3.11
      Timeout: 60
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - sts:GetCallerIdentity
                - ec2:DescribeInstances
                - ec2:DescribeInstanceStatus
                - ec2:DescribeRegions
                - ec2:DescribeAvailabilityZones
              Resource: '*'
      Events:
        EC2LaunchEvent:
          Type: CloudWatchEvent
          Properties:
            Pattern:
              source:
                - aws.ec2
              detail-type:
                - AWS API Call via CloudTrail
              detail:
                eventName:
                  - RunInstances
                eventSource:
                  - ec2.amazonaws.com

# With SAM, you'd deploy with:
# sam build && sam deploy --guided
